name: elastictest

services:
  elasticsearch:
    image: elasticsearch:9.2.0
    restart: always
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
