name: elastictest

services:
  elasticsearch:
    image: elasticsearch:9.2.0
    restart: always
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - ELASTIC_PASSWORD=elastic
    ports:
      - "9200:9200"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536 
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./data/elasticsearch:/usr/share/elasticsearch/data
