name: Run

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Chown data directory
        run: chown -R 1000:1000 ./data/

      - name: Configure sysctl limits
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144

      - name: Start
        run: docker compose up -d

      - name: Wait
        run: sleep 30

      - name: Discover ps
        run: docker compose ps

      - name: Logs
        run: docker compose logs

      - name: Test
        run: curl --verbose --show-error http://127.0.0.1:9200
  
